[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud = "*"
google-api-python-client = "*"
google-cloud-bigquery = "*"
pandas = "*"
db-dtypes = "*"

[dev-packages]

[requires]
python_version = "3.11"
