.header img {
	float: left;
	height: 50px;
}

.header h1 {
	position: relative;
	height: 50px;
}

.header {
	border: 1px solid #000000;
	margin: 5px;
	padding: 5px;
}

body {
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#header {
    float: left;
    height: 75px;
    width: 1000px;
    background: #FF6633;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 850px;
}

#leftcolumn {
    background: #33CCFF;
    width: 150px;
    float: left;
}

#footer {
    height: 40px;
    width: 1000px;
    background: #33FF66;
    clear: both;
}

